html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: nunito;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
